@font-face {
    font-family: 'Iosevka';
    src: url(iosevka.ttf);
}
:root{
    --global-font: "Iosevka", Courier, monospace;
}
body,html{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    background-color: #f5f5f5;
}
.page{
    height:100%;
    width:100%;
}
.fullcenter{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.fullcenter>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fullcenter>div>input{
    margin-bottom: 1em;
    font-family: var(--global-font);
    border: 1px solid #333;
    background-color: #fff;
    border-radius: 6px;
    width: 500px;
    font-size: 1.2em;
    padding: 0.2em
}
.fullcenter>div>input:focus{
    outline: none;
    border: 1px solid black;
}
.fullcenter>div>input::placeholder{
    text-align: right;
    font-family: var(--global-font);
    font-style: italic;
}
.fullcenter>div>button{
    width: 100px;
}
.validation{
    height: 1em;
    font-family: var(--global-font);
    color: #8b0000;
}
.validation.shown::before{
    content: "\26A0  ";
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4em;
    vertical-align: middle;
    color: #8b0000;
}
h1{
    font-family: var(--global-font);
    color: #333;
}
.hidden{
    display: none;
}

/* POPUP */
.popup{
    position: fixed;
    height: max-content;
    width: 50%;
    top: 25%;
    left: 25%;
    background-color: #f5f5f5;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 1em;
    box-shadow: 1px 1px 5px 1px #333;
}
.popup>h1,.popup>p{
    margin: 0px;
    font-family: var(--global-font);
}
.popup>.dismiss{
    font-size: 0.8em;
    color: #333;
    cursor: pointer;
    text-align: center;
    font-style: italic;
}

/* COMMON */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 0.5em 1em;
    font-family: var(--global-font);
}
.navbar button{
    background-color: #333;
    color: #fff;
    border: none;
    font-family: "Iosevka";
    font-size: 1.2em;
    cursor: pointer;
    font-size: 1.3em;
}
.navbar>div>p{
    display: inline-block;
    margin: 0px;
}
.page>.bin{
    padding: 0.5em;
}
.bin p,.bin h1{
    margin: 0px;
    font-family: var(--global-font);
}
.bin input{
    font-family: var(--global-font);
    border: 1px solid #333;
    background-color: #fff;
    border-radius: 6px;
    width: 500px;
    font-size: 1em;
    padding: 0.2em
}
.bin input:focus{
    outline: none;
    border: 1px solid black;
}
.bin select{
    font-family: var(--global-font);
    border: 1px solid #333;
    background-color: #fff;
    border-radius: 6px;
    width: 500px;
    font-size: 1em;
    padding: 0.2em
}
.bin h1>button{
    background-color: transparent;
    color: #333;
    border: none;
    font-family: "Iosevka";
    cursor: pointer;
    font-style: italic;
    font-size: 0.5em;
}
.bin button{
    border: 1px solid #333;
    background-color: #fff;
    border-radius: 5px;
    font-family: var(--global-font);
    font-size: 1em;
    padding: 0.2em;
    cursor: pointer;
}

/* SEARCH */
.searchopbox{
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5em;
    margin-bottom: 1em;
}
.searchopbox h2{
    margin: 0px 0px 0.5em;
    display: inline-block;
    font-family: var(--global-font);
}
.searchopbox button{
    margin: 0.5em 0px 0px;
    background-color: transparent;
    color: #333;
    border: 1px solid #333;
    border-radius: 5px;
    font-family: "Iosevka";
    font-size: 1.2em;
    cursor: pointer;
}
.searchopbox input[type="radio"]{
    margin: 0px 0.5em 0px 0px;
    width: max-content;
}
.searchopbox label{
    font-family: var(--global-font);
    font-size: 0.9em;
    cursor: pointer;
}
.searchopbox p{
    display: inline-block;
}
.mainsearch h3{
    margin: 0px 0px 0.5em;
    font-family: var(--global-font);
}
.optbuilder{
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5em;
    margin-bottom: 1em;
}
.optbuilder>button{
    margin: 0.5em 0px 0px;
    background-color: transparent;
    color: #333;
    border: 1px solid #333;
    border-radius: 5px;
    font-family: "Iosevka";
    font-size: 1.2em;
    cursor: pointer;
}
.optbuilder>p{
    margin: 0px;
    font-family: var(--global-font);
    font-size: 0.9em;
}
.search-operation{
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    width: max-content;
    padding-right: 0.5em;
}
.search-operation>button{
    background-color: transparent;
    color: #333;
    border: none;
    font-family: "Iosevka";
    font-size: 1.2em;
    cursor: pointer;
    width: 2em;
}
#searchresults>div{
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5em;
    margin-bottom: 1em;
}
#searchresults div>label{
    margin-right: 0.5em;
}

/* SCHEMA */
.schemaeditor{
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}
.schema{
    padding: 0.5em;
    border: 1px solid #333;
    border-radius: 5px;
}
.schema span{
    font-family: var(--global-font);
    font-size: 1.2em;
    margin-right: 0.5em;
}
.schema button:not(:last-child){
    background-color: transparent;
    border: 0px;
    font-size: 1.2em;
    vertical-align: center;
}
.schema button:last-child{
    font-size: 1.2em;
    padding: 0px;
    width: 5vw;
    margin-top: 0.2em;
}
.schema input{
    width: 20vw;
}
.schema select{
    width: 10vw;
    margin-bottom: 0.3em;
}
.schemaeditor>button{
    margin: 1em;
}
.schemaeditor>p{
    display: inline-block;
}

/* ADD */
.addForm label{
    font-family: var(--global-font);
    font-size: 1.2em;
    margin-right: 0.5em;
}
.addForm input{
    font-family: var(--global-font);
    border: 1px solid #333;
    background-color: #fff;
    border-radius: 6px;
    width: 500px;
    font-size: 1em;
    padding: 0.2em
}
.addForm input:focus{
    outline: none;
    border: 1px solid black;
}
.addForm{
    margin: 1em;
}
#add-validation{
    margin-left: 0.5em;
    display: inline-block;
}